In [1]:
import pandas as pd 
import numpy as np

In [44]:
subtype = pd.read_csv('sustain_subtype_baseline_3x.csv')
demo = pd.read_csv('LEADS_PTDEMOG_08Jun2025.csv')
cn = pd.read_csv('full_gmm2z_exclude.csv')
cn = cn[cn.dx=='CN']
cn.drop_duplicates(subset=['subj'], inplace=True)
len(cn[cn.dx=='CN'].subj.unique())

85

In [45]:
demo['subj'] = demo['subject_code'].str.upper()
subtype = subtype.merge(demo,on=['subj'],how='left')
cnm = cn.merge(demo,on=['subj'],how='left')
full = pd.concat([subtype, cnm], ignore_index=True)
len(full.subj.unique())
full = full[['subj','ptraccat','ptethcat']]
full.isna().sum()

subj        0
ptraccat    0
ptethcat    0
dtype: int64

In [48]:
full.ptethcat.value_counts()

ptethcat
2    429
1     21
Name: count, dtype: int64

In [49]:
429/450

0.9533333333333334

In [50]:
full.ptraccat.value_counts()

ptraccat
5        389
4         35
2         15
6          2
7          2
4|5        2
1|5        1
1|4        1
2|5        1
2|3        1
3|4|5      1
Name: count, dtype: int64

In [52]:
pd.crosstab(full.ptraccat,full.ptethcat)

ptethcat   1    2
ptraccat
1|4        0    1
1|5        0    1
2          1   14
2|3        1    0
2|5        0    1
3|4|5      1    0
4          1   34
4|5        1    1
5         15  374
6          1    1
7          0    2